/*
    python-summit.ch builds uses the Spectre as it's base:
    https://picturepan2.github.io/spectre/
*/

// customizations
$html-font-size: 20px;

$spsa-blue-dark: #182834;
$spsa-blue: #1f7ac6;
$spsa-blue-light: #4b8bbe;
$spsa-blue-pastel: #dbeef2;

$spsa-orange-dark: #a74d19;
$spsa-orange: #f76d1e;
$spsa-orange-light: #ff9a60;
$spsa-orange-pastel: #ffe3d3;

$gray-light: #f5f5f5;
$gray-dark: #666;

$header-bullet-color: $spsa-orange;
$actual-bullet-color: $spsa-blue-dark;

$primary-color: $spsa-blue;
$secondar-color: $spsa-orange;

$navigation-fg: #fff;
$navigation-bg: rgba(40, 40, 45, .55);
$max-line-width: 67ex;
$smooth-borders: 3px;

$note-pastel: #f5f5f5;
$info-pastel: #dcf2e6;
$tip-pastel: $spsa-blue-pastel;
$warning-pastel: $spsa-orange-pastel;

// minimal requirements
@import 'spectre/variables';
@import 'spectre/mixins';
@import 'spectre/normalize';
@import 'spectre/base';
@import 'spectre/utilities';

// selected components
@import 'spectre/typography';
@import 'spectre/buttons';
@import 'spectre/layout';
@import 'spectre/media';
@import 'spectre/navbar';
@import 'spectre/chips';
@import 'spectre/tables';
@import 'spectre/accordions';
@import 'spectre/icons';

// utilities
@mixin prefix ($prop, $val) {
    // sass-lint:disable-block property-sort-order
    -webkit-#{$prop}: #{$val};
    -moz-#{$prop}: #{$val};
    -ms-#{$prop}: #{$val};
    #{$prop}: #{$val};
}

// adjusted headings
h1,
.h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

h2,
.h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

h3,
.h3 {
    font-size: 1rem;
    font-weight: 500;
}

h4,
.h4 {
    font-size: .9rem;
    font-weight: 600;
}

h5,
.h5 {
    font-size: .8rem;
    font-weight: 600;
}

h6,
.h6 {
    font-size: .7rem;
    font-weight: 600;
}

// logos
.logo-small {
    width: 32px;
}

// header
.cover {
    background: url('/hero.jpg');
    background-color: #222;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 $smooth-borders $smooth-borders;
    display: flex;
    justify-content: center;
    min-height: 13rem;
}

.logo {
    display: flex;
    justify-content: center;

    img {
        height: 2.5rem;
    }
}

.navbar {
    align-self: flex-end;
    bottom: 0;
    margin-top: 5rem;
    min-width: $size-lg;

    .active {
        font-weight: bold;
    }

    .navbar-section {
        @include prefix(backdrop-filter, blur(2px));

        background: $navigation-bg;
        border-radius: $smooth-borders $smooth-borders 0 0;
        padding: 0 2ex;

        a,
        a.btn {
            @include prefix(transition, none);

            color: $navigation-fg;

            &:hover {
                color: $spsa-blue-light;
            }

            &:focus {
                box-shadow: none;
                outline: 2px solid #fff;
            }
        }
    }
}

@media (max-width: $size-md) {
    .cover {
        padding: 1rem 1rem 0;
    }

    .navbar {
        min-width: 0;
    }

    .navbar .navbar-section {
        flex-wrap: wrap;
        padding: 1ex 0;

        > * {
            width: 100%;
        }
    }
}

// footer
footer {
    background: $gray-light;
    color: $gray-dark;
    font-size: .7rem;
    padding-top: .25rem;

    .page p {
        margin-bottom: .5rem !important;
        max-width: 72ex;
    }

    .contact > * {
        display: block;
        line-height: 1.5;
    }
}

// lists
ul {
    list-style: none;
    margin-left: 0;
    position: relative;
}

// bullets
li::before,
h1::before {
    color: $header-bullet-color;
    content: '•';
    left: -1.5ex;
    margin-top: -1px;
    position: absolute;
}

li::before {
    color: $actual-bullet-color;
}

// page
.page {
    padding: 1rem;

    a {
        font-weight: 700;
    }

    p {
        @include prefix(hyphens, auto);

        max-width: $max-line-width;

        img {
            width: 125%;
        }
    }

    > p:last-child {
        margin-bottom: .75rem;
    }

    li {
        max-width: $max-line-width;
    }

    h1 {
        position: relative;
    }

    .media {
        margin: 0 0 1.5rem;
        max-width: 80%;

        img {
            margin-bottom: -.5rem;
            width: 100%;
        }

        &.map {
            margin-bottom: .5rem;
            position: relative;
            top: -1rem;
        }
    }

    @media (max-width: $size-md) {
        .media {
            max-width: 100%;
        }
    }
}

// admonitions
.admonition {
    border-radius: $smooth-borders;
    margin: 0 0 1rem;
    max-width: $max-line-width;
    padding: .8rem 1rem;

    p {
        margin: 0;
    }

    &.admonition-note {
        background: $note-pastel;
    }

    &.admonition-info {
        background: $info-pastel;
    }

    &.admonition-tip {
        background: $tip-pastel;
    }

    &.admonition-warning {
        background: $warning-pastel;
    }
}

// maps
.map {
    min-height: 500px;
}

.mapboxgl-canvas {
    box-shadow: none;
    outline: none;
}

.mapbox-improve-map,
.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-ctrl-attrib {
    border-radius: $smooth-borders 0 0;
}

.mapboxgl-ctrl-attrib-inner {
    font-size: 9px;

    * {
        font-weight: normal !important;
    }
}

div.mapboxgl-canvas-container > div > svg > g > g:nth-child(2) {
    fill: $spsa-blue !important;
}

// recordings
.recordings h2 {
    margin-top: 1rem !important;
}

// program

table#program {
    border: 0px;
    margin-top: 40px;
    width: 100%;
}

table#program .col-time {
    width: 130px;
}

.meta {
    font-style: italic;
}
