{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <div class="recordings">
    <h1>{{ this.title }}</h1>
    {{ this.body }}

    {% for year in this.children|map(attribute="year")|sort(reverse=True)|unique %}
        <h2><strong>{{ year }}</strong></h2>

        {% if bag("playlists", year|string) %}
            <a href="{{ bag("playlists", year|string) }}" class="btn btn-sm btn-primary">YouTube Playlist</a>
        {% endif %}

        <ul>
        {% for talk in this.children|selectattr("year", "eq", year)|sort(attribute="ordering") %}
            {% set slides=talk.attachments|selectattr("type", "eq", "slides")|list %}
            <li>
                <strong><a href="{{ talk.video_url }}">{{ talk.title }}</a></strong>
                {% if slides %}
                    [
                    {%- for slide in slides -%}
                    <a href="{{ slide|url }}">slides</a>{% if not loop.last %}, {% endif %}
                    {%- endfor -%}
                    ]
                {% endif %}
                <div>{{ talk.speaker }}</div>
            </li>
        {% endfor %}
        </ul>

    {% endfor %}
  </div>
{% endblock %}
