<!doctype html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/css/style.css'|url }}">
    <title>{% block title %}Welcome{% endblock %} — Swiss Python Summit 2020</title>
</head>
<body>
    <header>
        <a href="{{ site.get_root()|url }}"><h1>Swiss Python Summit 2020</h1></a>
        <nav>
            <ul class="children">
                {% for page in this.children %}
                <li {% if this == page %}class="active"{% endif %}>
                    <a href="{{ page|url }}">{{ page.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <div class="page">
        {% block body %}{% endblock %}
    </div>

    <footer>
        &copy; Copyright 2019 by EVM.
    </footer>
</body>
