{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block header %}
    <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        L.mapbox.accessToken = 'pk.eyJ1Ijoic3RhY2t0cmFjZSIsImEiOiJjaWh2cGI3aDkwMjlqdXNrb2l2eDl5dGgyIn0.96Y4mk2kaLNPoQb0URVi8g';

        var maps = document.getElementsByClassName('map');

        for (var i=0; i<maps.length; i++) {
            var element = maps[i];

            var lon = parseFloat(element.getAttribute('data-lon'));
            var lat = parseFloat(element.getAttribute('data-lat'));
            var zoom = parseInt(element.getAttribute('data-zoom'), 10);

            var map = L.mapbox.map(element, 'mapbox.streets')
                .setView([lat, lon], zoom);

            L.marker([lat, lon]).addTo(map);

            L.control.layers({
                'Map View': L.mapbox.tileLayer('mapbox.streets').addTo(map),
                'Satellite View': L.mapbox.tileLayer('mapbox.satellite')
            }).addTo(map);
        }
    });
    </script>
{% endblock %}
{% block body %}
  <h1>{{ this.title }}</h1>
  {{ this.body }}
{% endblock %}
